/* Coolors Exported Palette - https://coolors.co/4e0250-801a86-645986-8fe388-58bc82 */

/* CSS HEX */
--russian-violet: #4e0250ff;
--mardi-gras: #801a86ff;
--ultra-violet: #645986ff;
--light-green: #8fe388ff;
--emerald: #58bc82ff;

/* CSS HSL */
--russian-violet: hsla(298, 95%, 16%, 1);
--mardi-gras: hsla(297, 68%, 31%, 1);
--ultra-violet: hsla(255, 20%, 44%, 1);
--light-green: hsla(115, 62%, 71%, 1);
--emerald: hsla(145, 43%, 54%, 1);

/* SCSS HEX */
$russian-violet: #4e0250ff;
$mardi-gras: #801a86ff;
$ultra-violet: #645986ff;
$light-green: #8fe388ff;
$emerald: #58bc82ff;

/* SCSS HSL */
$russian-violet: hsla(298, 95%, 16%, 1);
$mardi-gras: hsla(297, 68%, 31%, 1);
$ultra-violet: hsla(255, 20%, 44%, 1);
$light-green: hsla(115, 62%, 71%, 1);
$emerald: hsla(145, 43%, 54%, 1);

/* SCSS RGB */
$russian-violet: rgba(78, 2, 80, 1);
$mardi-gras: rgba(128, 26, 134, 1);
$ultra-violet: rgba(100, 89, 134, 1);
$light-green: rgba(143, 227, 136, 1);
$emerald: rgba(88, 188, 130, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #4e0250ff, #801a86ff, #645986ff, #8fe388ff, #58bc82ff);
$gradient-right: linear-gradient(90deg, #4e0250ff, #801a86ff, #645986ff, #8fe388ff, #58bc82ff);
$gradient-bottom: linear-gradient(180deg, #4e0250ff, #801a86ff, #645986ff, #8fe388ff, #58bc82ff);
$gradient-left: linear-gradient(270deg, #4e0250ff, #801a86ff, #645986ff, #8fe388ff, #58bc82ff);
$gradient-top-right: linear-gradient(45deg, #4e0250ff, #801a86ff, #645986ff, #8fe388ff, #58bc82ff);
$gradient-bottom-right: linear-gradient(135deg, #4e0250ff, #801a86ff, #645986ff, #8fe388ff, #58bc82ff);
$gradient-top-left: linear-gradient(225deg, #4e0250ff, #801a86ff, #645986ff, #8fe388ff, #58bc82ff);
$gradient-bottom-left: linear-gradient(315deg, #4e0250ff, #801a86ff, #645986ff, #8fe388ff, #58bc82ff);
$gradient-radial: radial-gradient(#4e0250ff, #801a86ff, #645986ff, #8fe388ff, #58bc82ff);