@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
:root {
    --poppins: "Poppins", sans-serif;
    --lato: "Lato", sans-serif;

    --light: #f9f9f9;
    --blue: #3c91e6;
    --light-blue: #cfe8ff;
    --grey: #eee;
    --dark-grey: #aaaaaa;
    --dark: #342e37;
    --red: #db504a;
    --yellow: #ffce26;
    --light-yellow: #fff2c6;
    --orange: #fd7238;
    --light-orange: #ffe0d3;
    --russian-violet: #4e0250ff;
    --mardi-gras: #801a86ff;
    --ultra-violet: #645986ff;
    --light-green: #8fe388ff;
    --emerald: #58bc82ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.body {
    background-image: url("../image/magicpattern-pattern-1678766058241.png");
}

.wrapper {
    position: relative;
    max-width: 470px;
    width: 100%;
    border-radius: 12px;
    padding: 20px 30px 180px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: linear-gradient(30deg, #645986, rgba(128, 26, 134, 1));
}
.form.login header {
    color: black;
    z-index: 50;
}
.form.login header:hover,
.form.signup header:hover {
    color: var(--ultra-violet);
}
.form.login {
    position: absolute;
    left: 50%;
    bottom: -86%;
    transform: translateX(-50%);
    width: calc(100% + 220px);
    padding: 20px 140px;
    border-radius: 50%;
    height: 100%;
    transition: all 0.6s ease;
    /* background: linear-gradient(30deg, #4e0250, rgba(128,26,134,1)); */
}
.wrapper.active .form.login {
    bottom: -13%;
    border-radius: 35%;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
}
.form header {
    font-size: 30px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}
.form.login header {
    color: #333;
}
.wrapper.active .form.login header {
    opacity: 1;
}
.wrapper.active .signup header {
    opacity: 0.6;
}
.wrapper form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
}
.password-field {
    position: relative;
}

.show-password {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    z-index: 50;
}

.show-password.fa-eye-slash:before {
    content: "\f070";
}

.close-btn {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
    cursor: pointer;
}

.close-btn:hover {
    color: #721c24;
}

.alert-danger .close-btn:hover {
    color: #fff;
}

/* admin sidebar */

  
  /*
   * Sidebar
   */
  
  .sidebar {
    position: fixed;
    top: 0;
    /* rtl:raw:
    right: 0;
    */
    bottom: 0;
    /* rtl:remove */
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    
  }
  
  @media (max-width: 767.98px) {
    .sidebar {
      top: 5rem;
      overflow-y: auto;
      background-color: rgba(100, 89, 134, 0.8);
    }
  }
  
  .sidebar-sticky {
    height: calc(100vh - 48px);
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  
  .sidebar .nav-link {
    font-weight: 500;
    color: #333;
  }
  
  /* .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #727272;
  } */
  
  .sidebar .nav-link.active {
    color: var(--russian-violet);
    background-color: var(--light);
  }
  
  /* .sidebar .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }
   */
   .nav-link:hover{
    color: var(--russian-violet) !important;
    background-color: var(--light);
   }
  .sidebar-heading {
    font-size: .75rem;
  }
  
  /*
   * Navbar
   */
  
  /* .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
  } */
  
  .navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
  }
  
  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }
  
  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.1);
    border: solid rgba(0, 0, 0, 0.15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
        inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -0.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}